:root {
  --white: #ffffff;
  --fade-white: #edeaea;
  --color-border: #cac6c6;
  --secondary: #2a2c2b;
  --primary: rgba(255, 90, 95);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.App {
  height: 100vh;
  background-color: var(--fade-white);
}

.header-bg {
  width: 100%;
  height: 700px;
  background: url(../public/header-bg.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header {
  margin: 0 100px;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-logo {
  width: 120px;
}

.app-menu span {
  font-weight: 500;
  letter-spacing: 0.2px;
  word-spacing: 0.1px;
  font-size: 12px;
  margin: 0 5px;
  cursor: pointer;
  color: var(--secondary);
}

.app-menu span:hover {
  color: var(--primary);
  text-decoration: underline;
}

.right-menu {
  padding: 0;
  margin: 0;
}

.right-menu span {
  color: var(--secondary);
  font-weight: 500;
  letter-spacing: 0.2px;
  word-spacing: 0.1px;
  font-size: 12px;
  margin: 0 0 0 10px;
  cursor: pointer;
}

.button {
  font-weight: 700;
  font-size: 13px !important;
  background: var(--secondary);
  color: var(--white) !important;
  padding: 7px 30px;
  border-radius: 5px;
  outline: none;
}

.button:hover {
  background: var(--primary);
  color: var(--white);
}

.content {
  margin: 100px 100px 0;
}

.heading {
  color: var(--secondary);
  font-weight: 500;
  font-size: 35px;
  margin-bottom: 10px;
}

.heading span {
  font-weight: 700;
  color: var(--white);
}

.explore {
  font-size: 20px;
  margin-top: 50px;
  color: var(--white);
}

.explore-arrow {
  margin-left: 20px;
}

.tabs-container {
  margin-top: 50px;
  position: relative;
}

.tabs {
  display: flex;
  align-items: center;
}

.tab {
  font-size: 14px;
  cursor: pointer;
  color: var(--white);
  background-color: var(--secondary);
  padding: 15px 50px 15px 10px;
}

.tab:first-child {
  border-top-left-radius: 20px;
}

.tab:last-child {
  border-top-right-radius: 20px;
}

.tab.active {
  color: var(--secondary);
  background-color: var(--white);
}

.tab-arrow {
  margin: 0 15px 0 10px;
}

.tab-panel {
  background-color: rgb(255, 255, 255);
  width: 100%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.options {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.options span {
  display: flex;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
  font-size: 14px;
  color: var(--secondary);
  font-weight: 500;
  letter-spacing: 0.2px;
  word-spacing: 0.1px;
  margin: 20px 50px 0 10px;
}

.options-arrow {
  margin-top: -5px;
  margin-left: 5px;
}

.placeholder {
  height: 230px;
  width: 100%;
  column-gap: 20px;
  padding: 20px 20px 75px;
  display: flex;
  justify-content: space-between;
}

.to-from,
.picker {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: space-between;
}

.picker {
  border: 1px solid red;
}

.to-from-1 {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

.to-from-2 {
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
}

.to-from-3 {
  font-size: px;
}

.to-from-container {
  display: flex;
  flex-grow: 1;
  height: 115px;
  padding: 15px 0 15px 40px;
  flex-direction: column;
  border-radius: 10px;
  justify-content: space-between;
  border: solid 1px var(--color-border);
}

.to-from-container-1 {
  margin-right: calc(-1 * 15px);
}

.to-from-container-2 {
  margin-left: calc(-1 * 15px);
}

.exchange-arrow {
  border: solid 1px var(--color-border);
  color: var(--color-border);
  background-color: var(--white);
  padding: 15px;
  border-radius: 50%;
  z-index: 9999;
}

.search-button {
  position: absolute;
  right: 40px;
  bottom: 20px;
  font-weight: 500;
  font-size: 14px;
  background: var(--secondary);
  color: var(--white) !important;
  padding: 17px 30px;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}

.search-button:hover {
  background: var(--primary);
  color: var(--white);
}

.popular {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-heading {
  color: var(--secondary);
  font-weight: 500;
  font-size: 20px;
}

.explore-all {
  font-size: 14px;
  color: var(--secondary);
  font-weight: 500;
  cursor: pointer;
  padding-bottom: 2px;
  border-bottom: 1px solid var(--secondary);
}

.explore-all:hover {
  color: var(--primary);
  border-bottom: 1px solid var(--primary);
}
